<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.linklake.update-resume</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/linklake-server</string>
    <string>update</string>
    <string>recover</string>
    <string>--yes</string>
    <string>--state-dir</string>
    <string>/Library/Application Support/LinkLake/updates/server</string>
    <string>--data-dir</string>
    <string>/usr/local/var/lib/linklake</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key><false/>
  </dict>
  <key>ThrottleInterval</key><integer>5</integer>
  <key>StandardOutPath</key><string>/usr/local/var/log/linklake/update-resume.stdout.log</string>
  <key>StandardErrorPath</key><string>/usr/local/var/log/linklake/update-resume.stderr.log</string>
</dict>
</plist>
